# Dependencies
node_modules/

# Build output
dist/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Test data
*.json
!package.json
!package-lock.json
!tsconfig.json
!vite.config.js

# Auto-loaded graph data
public/graph.json

